{
    "name": "SVD Optimizer",
    "algorithm": "bayes",
    "spec": {
        "maxCombo": 2500,
        "objective": "minimize",
        "metric": "test_rmse",
        "minSampleSize": 128,
    },
    "parameters": {
        "n_factors": {
            "type": "integer",
            "scalingType": "uniform",
            "min": 10,
            "max": 500,
        },
        "n_epochs": {
            "type": "integer",
            "scalingType": "uniform",
            "min": 5,
            "max": 50,
        },
        "biased": {"type": "discrete", "values": [1, 0]},
        "init_mean": {
            "type": "float",
            "scalingType": "uniform",
            "min": 1.5,
            "max": 3.5,
        },
        "init_std_dev": {
            "type": "float",
            "scalingType": "uniform",
            "min": 0.1,
            "max": 2.0,
        },
        "lr_bu": {"type": "float", "scalingType": "uniform", "min": 0.005, "max": 0.05},
        "lr_bi": {"type": "float", "scalingType": "uniform", "min": 0.005, "max": 0.05},
        "lr_pu": {"type": "float", "scalingType": "uniform", "min": 0.005, "max": 0.05},
        "lr_qi": {"type": "float", "scalingType": "uniform", "min": 0.005, "max": 0.05},
        "reg_bu": {
            "type": "float",
            "scalingType": "uniform",
            "min": 0.02,
            "max": 0.1,
        },
        "reg_bi": {
            "type": "float",
            "scalingType": "uniform",
            "min": 0.02,
            "max": 0.1,
        },
        "reg_pu": {
            "type": "float",
            "scalingType": "uniform",
            "min": 0.02,
            "max": 0.1,
        },
        "reg_qi": {
            "type": "float",
            "scalingType": "uniform",
            "min": 0.02,
            "max": 0.1,
        },
    },
}
